<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437198790285-8p201gv24itprftbi8rn4cfi1dnljd81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437198790285-8p201gv24itprftbi8rn4cfi1dnljd81</string>
	<key>API_KEY</key>
	<string>AIzaSyDx-O_sZnxDyRIpFkK9EzKIbVBZFKc1B68</string>
	<key>GCM_SENDER_ID</key>
	<string>437198790285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helen.gameOfChats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-16ac3</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-16ac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437198790285:ios:7c030079661609fd</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-16ac3.firebaseio.com</string>
</dict>
</plist>